body {
}

.span7,.span6, .span5, .span4, .span3, .span2, .span1
{
	border:0px solid red;
}

#contactTabsContent.tab-content
{
	background-color:#f7f7f9;
	margin-top:0px;
	padding-top:20px;
	padding-bottom:20px;
	padding-left:0px;
	border-radius:5px;
	border:1px solid #DDDDDD;
	
}

.nav.nav-tabs a:focus
{
	outline:0px;
	
}

.nav.nav-tabs .active a, .nav.nav-tabs .active a:focus
{
	background-color:#f7f7f9;
}

.nav li i
{
	margin-top: -1px;
}

.nav li.active i, .nav li:hover i
{
	margin-top: 0px;
}

.nav li.active a
{
	background-color: lightgrey;
}