@{
    ViewBag.Title = "Contact";
}
<hgroup class="title">
    <h1>Contact Us</h1>
</hgroup>
<div class="row-fluid">
	<div class="span5">
		<header>
			<h3>Phone:</h3>
		</header>
		<p>
			<span>Main:</span>
			<span>(+2712) 345-6789</span>
		</p>
		<p>
			<span>After Hours:</span>
			<span>(+2712) 345-9876</span>
		</p>
    
		<header>
			<h3>Email:</h3>
		</header>
		<p>
			<span>Support:</span>
			<span><a href="mailto:Support@example.com">Support@example.com</a></span>
		</p>
		<p>
			<span>Marketing:</span>
			<span><a href="mailto:Marketing@example.com">Marketing@example.com</a></span>
		</p>
		<p>
			<span>General:</span>
			<span><a href="mailto:General@example.com">General@example.com</a></span>
		</p>

		<br />

		<header>
			<h3>Send us a message:</h3>
		</header>
		<div class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="messageFullName">Full Name:</label>
				<div class="controls"><input class="input-large" id="messageFullName" type="text" data-bind="value: fullName" /></div>
			</div>
			<div class="control-group">
				<label class="control-label" for="messageEmail">Email:</label>
				<div class="controls"><input class="input-large" id="messageEmail" type="text" data-bind="value: email" /></div>
			</div>
			<div class="control-group">
				<label class="control-label" for="messageMessage">Message:</label>
				<div class="controls"><textarea rows="5" class="input-large" id="messageMessage" cols="" data-bind="value: message" ></textarea></div>
			</div>
			<div class="control-group">
				<div class="controls"><button type="button" class="btn btn-primary pull-right" data-bind="click: sendMessage">Submit</button></div>
			</div>
			@*<div>
				<select data-bind="options: optionList, value: selectedOption"></select>
			</div>*@
		</div>
		<div class="alert" data-bind="visible:showMessage, text:messageResponse, css:{'alert-success':messageOk, 'alert-error':!messageOk()}"></div>
	</div>
	
	<div class="span2">
		<header>
			<h3>Address:</h3>
		</header>
		<p><span>123 Winter Street</span><br />
			<span>Winterton, 1234</span>
		</p>
		<p>
			<span>SOUTH AFRICA</span>
		</p>
	</div>

	<div class="span4">
		<img alt="Google Map" src="@Href("~/Content/images/map-hotel-drakensberg-sun-winterton.png")" />
	</div>
</div>
@section Scripts {
	<script>
		function ContactViewModel()
		{
			optionList = ko.observableArray(["Pietie", "Kosie", "Jannie"]);
			selectedOption = ko.observable("Jannie");
			fullName = ko.observable();
			email = ko.observable();
			message = ko.observable();
			messageResponse = ko.observable();
			showMessage = ko.observable(false);
			messageOk = ko.observable(false);

			sendMessage = function ()
			{
				fullName(selectedOption());
				showMessage(false);
				if (!fullName())
				{
					showMessage(true);
					messageOk(false);
					messageResponse("Please enter your full name");
					return;
				};

				if (!email())
				{
					showMessage(true);
					messageOk(false);
					messageResponse("Please enter your email address");
					return;
				};


				if (!IsValidEmailAddress1(email()) || !IsValidEmailAddress2(email()))
				{
					showMessage(true);
					messageOk(false);
					messageResponse("Please enter a valid email address");
					return;
				};

				busyViewModel.IsBusy(true);
				$.post("/Home/SendMessage/", { fullName: fullName(), email: email(), message: message() },
					function (response) { handleSendMessage(response); });
			};

			handleSendMessage = function (messageData)
			{
				/*messageData =
				{
					isOk: false,
					errorMessage: "TO DO",

					fullName: fullName(),
					email: email(),
					message: message()
				};*/

				//alert(messageData.email);
				showMessage(true);
				if (messageData.isOk)
				{
					messageResponse("Thank you for you message. We will respond as soon as possible.");
					messageOk(true);
					busyViewModel.IsBusy(false);
					return;
				}

				messageResponse(messageData.errorMessage ? messageData.errorMessage : "An error prevented us from receiving your message. Please try again or call us for assistance.");
				messageOk(false);
				changeLocation("@Href("~/")");
			};
		};

		ko.applyBindings(new ContactViewModel(), document.getElementById("bodyDiv"));

		$(document).ready(function ()
		{
			finishLayout(3); //Contact Us
		});
	</script>
}
